* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.wrapper {
    padding: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.delete-form-container {
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.delete-header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9534f;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #c9302c;
}

.success-message {
    margin-top: 20px;
    color: #5cb85c;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .delete-form-container {
        width: 90%;
    }
}
