* {
    font-family: 'Poppins', sans-serif;
}
  
  .wrapper {
      background: white;
      padding: 20px;
  }
  
  .main {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
  }
  
  .menu-container {
      width: 900px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
      padding: 20px;
  }
  
  .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transition: background 0.3s;
  }
  
  .menu-item:hover {
      background: rgba(37, 95, 156, 0.1);
  }
  
  .menu-item a {
      text-decoration: none;
      font-weight: 700;
      color: #000;
      transition: color 0.3s;
  }
  
  .menu-item a:hover {
      color: #743ae1;
  }
  
  .menu-header {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
  }
  
  @media only screen and (max-width: 768px) {
      .menu-container {
          max-width: 420px;
          width: 100%;
      }
  }